@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --blue-1: #0b2842;
  --blue-2: #1d476e;
  --green-1: #58fc79;
  --green-2: #48d063;
  --red-1: #fc5858;
  --red-2: #d04848;
  --white-1: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--blue-1);
  color: var(--green-1);
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 5px;
}

.btn-default,
.btn-inverted {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background: var(--green-1);
  color: var(--blue-1);
  font-size: 1.5em;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all 150ms ease;
}
.btn-default:hover,
.btn-inverted:hover {
  filter: brightness(0.85);
  transition: all 150ms ease;
}

.btn-inverted {
  border: solid var(--green-1) 3px;
  background: transparent;
  color: var(--green-1);
}
.btn-inverted:hover {
  filter: brightness(1);
  background-color: var(--green-1);
  color: var(--blue-1);
}

#quiz-over-overlay {
  opacity: 0;
  z-index: -9999;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--red-1);
}
#quiz-over-overlay div {
  width: 300px;
  aspect-ratio: 1;
  margin: 100px 0 25px 0;
  background-color: var(--red-2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12em;
  color: var(--red-1);
}
#quiz-over-overlay h1 {
  margin: 0;
  color: var(--blue-2);
  border-bottom: solid var(--blue-2) 7px;
  font-size: 5em;
}
#quiz-over-overlay p {
  color: var(--blue-2);
  font-size: 1em;
  margin: 20px 0 0 0;
}
#quiz-over-overlay button {
  border: solid var(--blue-1) 4px;
  font-family: inherit;
  background-color: var(--red-1);
  font-size: 2em;
  font-weight: 600;
  color: var(--blue-2);
  margin: 25px 0;
  padding: 15px 100px;
  cursor: pointer;
  transform: all 500ms ease;
}
#quiz-over-overlay button:hover {
  filter: brightness(0.9);
  transform: all 500ms ease;
}
#quiz-over-overlay.active {
  z-index: 9999;
  opacity: 1;
  display: flex;
}

.high-scores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
}
.high-scores h2 {
  color: var(--green-1);
  font-size: 4em !important;
  font-weight: 600 !important;
  margin: 10px 0 25px 0 !important;
  border-bottom: solid var(--blue-2) 4px;
  padding-bottom: 13px;
  white-space: nowrap;
}
.high-scores ol {
  width: 100%;
  margin: 0;
  list-style-position: inside;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.high-scores ol li {
  width: 100%;
  transform: translateX(-20px);
  padding: 5px 0;
  color: var(--blue-1);
  font-size: 1.5em;
  font-weight: 600 !important;
  text-align: center;
}
.high-scores ol li:nth-of-type(2n + 1) {
  background-color: var(--blue-2);
}

#menu-screen {
  z-index: 9998;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 500ms ease;
}
#menu-screen h1 {
  font-size: 6em;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  white-space: nowrap;
  border-bottom: solid var(--blue-2) 4px;
}
#menu-screen button {
  width: 95%;
  padding: 10px 75px;
}
#menu-screen #menu-high-score-container {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 25px 0;
  background-color: var(--green-2);
  border-radius: 8px;
  position: relative;
}
#menu-screen #menu-high-score-container div {
  margin: 0 !important;
  padding: 0 !important;
}
#menu-screen #menu-high-score-container .high-scores h2 {
  z-index: 9999;
  width: 100%;
  margin: 5px 0 25px 0 !important;
  padding: 0 !important;
  border: none;
  color: var(--blue-2) !important;
  text-align: center;
}
#menu-screen #menu-high-score-container .high-scores ol {
  width: calc(100% + 40px);
}
#menu-screen #menu-high-score-container .high-scores ol li {
  width: 100%;
  background-color: var(--green-2);
}
#menu-screen #menu-high-score-container .high-scores ol li:nth-of-type(2n + 1) {
  background-color: var(--green-1);
}
#menu-screen #menu-high-score-container .high-scores ol li:nth-last-of-type(1) {
  border-radius: 0 0 8px 8px;
}
#menu-screen #menu-high-score-container::after {
  content: "";
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--green-1);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25);
}

#quiz-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(100px);
}
#quiz-container #counters-container {
  z-index: 9998;
  pointer-events: none;
  transform: translateY(-350px);
  font-size: 5em;
  color: var(--blue-2);
  opacity: 0;
  transition: all 500ms 600ms ease;
}
#quiz-container #counters-container #score-counter {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  color: var(--green-1);
  font-size: 0.4em;
}
#quiz-container #counters-container.active {
  opacity: 1;
  transition: all 500ms 600ms ease;
}
#quiz-container .quiz-question.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transition: opacity 500ms ease;
}
#quiz-container .quiz-question {
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 100px));
  transition: opacity 500ms ease;
}
#quiz-container .quiz-question h1,
#quiz-container .quiz-question p {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 0 10px 0;
}
#quiz-container .quiz-question h1 {
  margin-top: 10px;
  font-size: 3.5em;
}
#quiz-container .quiz-question p {
  margin: 20px 0 30px 0;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.15em;
}
#quiz-container .quiz-question .answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#quiz-container .quiz-question .answer-container button {
  padding: 10px 125px;
}
#quiz-container .quiz-question::after {
  content: "";
  width: 75%;
  height: 0.4em;
  background-color: var(--blue-2);
  position: absolute;
  top: -1.25em;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */